body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  /* perspective: 600px; */
  color: #fff;
}



/* Configuração para background*/

canvas {
  position: absolute;
	top: 0;
	left: 0;
  }

/* FIM configuração para background */


/* Estilo da div principal */

.principal {
  background-color: #1e1e1e;
  position: relative;
  text-align: center;
  border: 20px solid #1e1e1e;
  margin: 20px;
  border-radius: 2%;
  
}
/* FIM Estilo da div principal */


/* Estilo da div manual */

.manual{
  background-color: #1e1e1e;
  position: relative;
  text-align: center;
  border: 20px solid #1e1e1e;
  margin: 20px;
  border-radius: 2%;,
/* FIM Estilo da div manual */


#entrada{
  width: 270px;
  height: 70px;
}

#saida{
  width: 270px;
  height: 70px;
}

.incremento{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
 
/* FIM estilo da div principal */